/* 
=============================================================================
	Body Structure
=============================================================================
*/
body{
	font-size:14px;
	background:url(../images/17.png) repeat scroll 0 0 #57616a; 
}
.glow-bg {
	padding:15px 0 0 0;
    background: url(../images/footer-top-glow.png) no-repeat top center transparent;
}

header {
	border-top:2px solid #404951;
	border-bottom:2px solid #404951;
}
#logo { 
	padding:14px 0 0 0;
	font: normal 100% 'Yanone Kaffeesatz', arial, sans-serif;
	font-size: 16px;
	font-weight:bold;
}
#logo a{
	display:inline-block;
	font: normal 100% 'Yanone Kaffeesatz', arial, sans-serif;
	font-size: 16px;
	font-weight:bold;
}

#logo h1 {font-size: 16px; }

#body-content{
	padding:40px 0;
	/* novo */
	min-height:400px;
}
.page-content{
	background:url(../images/black_bg.html) repeat;
	margin:0 auto;
	width:960px;
	/*background: url(http://nove-sinapse.net84.net/rpm/images/17.png) repeat repeat scroll 0 0 #57616a;*/
}
.pad-10{padding:0;}

/* ========= end =========== */

/* 
=============================================================================
	Page Spacer
=============================================================================
*/
.big-bg-h3 h3, .home-medium-bg-h3 h3, .medium-bg-h3 h3 {
	font-size:15px;
	background:#cf302d;
	font-weight:normal;
	text-transform:uppercase;
	color:#FFF;
	padding: 5px 10px;
	display:inline-block;
	margin-top:1px;
	box-shadow:0 1px 0px #25272a;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}
.big-bg-h3 {
	background:url(../images/sep_big.png) no-repeat top center;
	text-align:center;
}
.medium-bg-h3 {
	background:url(../images/sep_medium.png) no-repeat top center;
	text-align:center;
}
.medium-bg-spacer {
	background:url(../images/sep_medium.png) no-repeat center center;
	text-align:center;
	height:50px;
}
.home-medium-bg-h3 {
	background:url(../images/sep_medium_home.png) no-repeat top center;
	text-align:center;
}
.big-spacer {
	padding:25px 0;
}
.small-spacer {
	background:url(../images/sep_small.png) no-repeat center center;
	height:2px;
	text-indent:-999px;
}
/* ========= end =========== */


/* 
=============================================================================
	Home Intro
=============================================================================
*/
.btn-holder{
	text-align:center;
	width:360px;
	margin:0 auto;
	padding:15px 0 35px 0;
}
.signup-btn, .tour-btn{
	float:left;
	padding:0 10px;
	text-shadow:none;
	
}
.signup-btn a{
	background:#9bc600;
}
.tour-btn a{
	background:#999999;
}
.signup-btn a, .tour-btn a{
	padding:10px;
	display:inline-block;
	font-size:18px;
	text-transform:capitalize;
	color:#333;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.signup-btn a:hover, .tour-btn a:hover{
	color:#FFF;
}
.or-btn{
	float:left;
	padding:0 8px;
	border-bottom:1px solid #FFF;
}
.or-btn span{
	position:relative;
	top:10px;
	display:inline;
	padding:5px;
	color:#FFF;
	font-size:18px;
	background:url(../images/17.png) repeat #57616a;
}
.intro-txt{
	padding:10px 0 0 0;
	text-align:center;
}
.intro-txt h1{
	text-transform:uppercase;
	color:#FFF;
}
.intro-txt h1 span{
	color:#9bc600;
}
.intro-txt p{
	font-size:14px;
	margin-bottom:0;
}
/* ========= end =========== */	


/* 
=============================================================================
	Home Services
=============================================================================
*/
.service-box{
	padding:20px 0 0 0;
}
.service-wrap{
	padding:0 10px;
	text-align:center;
	background:#454e56;
	box-shadow:0 1px 3px rgba(0,0,0, 0.5);
	-moz-box-shadow:0 1px 3px rgba(0,0,0, 0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0, 0.5);
	-o-box-shadow:0 1px 3px rgba(0,0,0, 0.5);
}
.read-more a{
	background:#9bc600;
	padding:3px 10px;
	font-style:italic;
	display:inline-block;
	text-shadow:none;
	color:#FFF;
}
.read-more a:hover{
	color:#333;
}
/* ========= end =========== */	

/* 
=============================================================================
	Main Navigation
=============================================================================
*/
nav {
	padding:0;
	float:right;
}
.sf-menu {
	clear: both;
	font-size: 12px;
	list-style: none;
	position: relative;
	bottom:-3px;
	padding: 0;
	margin:0;
	/*-- font-family: 'IntroRegular'; --*/
	
	font-family: Arial,x-locale-body,sans-serif;
}
.sf-menu > li {
	float: left;
	padding:0 0 0 5px;
	margin:0;
}
.sf-menu li { position: relative; }
.sf-menu > li:last-child { padding-right: 0; }
.sf-menu > li > a {
	color: #FFF;
	float: left;
	padding:15px 10px;
	font-size:12px;
	text-decoration:none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	border-bottom:4px solid #404951;
}
.sf-menu > li.current-menu-item > a, .sf-menu > li > a:hover, .sf-menu > li.sfHover > a { 
	border-bottom:4px solid #a8c634;
	color:#a8c634;
	text-decoration:none;
}
.sf-menu > li.sfHover > a:hover, .sf-menu > li.sfHover > a { }
.sf-menu > li.current-menu-item > a { color: #a8c634;}
.sf-menu li.sfHover a:active {}
.sf-menu > li.sfHover > a:active, .sf-menu > li.current-menu-item.sfHover > a:active { }
.sf-menu ul {
	font-size: 14px;
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0px;
	position: absolute;
	left: 5px;
	top: 52px;
	z-index: 9999;
	background:#eceff4;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
}
/*.sf-menu li:first-child ul {
	left: 0;
}*/
.sf-menu ul ul {
	left: 165px;
	top: 4px;
}
.sf-menu ul li { 
	width: 160px;
	/*border-bottom: 1px solid #cfcbbc;
	margin-bottom: 1px;*/
}
.sf-menu ul li:first-child { border-top: 0 none; }
.sf-menu ul li:last-child {
	border-bottom: 0 none;
	margin-bottom: 0;
}
.sf-menu ul a {
	color: #000;
	display: block;
	margin:0;
	padding: 5px 10px;
	font-size:12px;
	font-family: 'RobotoBold';
	text-transform:none;
	text-decoration:none;
	text-shadow: 0 1px 0 rgba(255,255,255,.54);
}
.sf-menu ul li{
	margin-bottom:0;
}

.sf-menu ul li a:hover, .sf-menu ul li.sfHover > a {
	color: #000;
	text-shadow:none;
	background:#9bc600;
}
.sf-menu ul li a.arrow-bg{
	background:url(../images/menu_arrow.png) no-repeat 98% center;
}
.sf-menu ul li.sfHover > a.arrow-bg{
	background:url(../images/menu_arrow.png) #9bc600 no-repeat 98% center;
	transition:none;
	-moz-transition:none;
}
/* ========= end =========== */


/* 
=============================================================================
	Flexslider Home Slider
=============================================================================
*/

.home-slider{
	background:url(../images/black_bg.html) repeat;
	padding:20px 0 0 0;	
}
.home-h2{
	background:url(../images/black_bg.html) repeat;	
	border-bottom:1px dotted #a8adb5;
	color:#FFF;
	font-size:22px;
	line-height:24px;
	padding:0 0 10px 0;
}
.home-h2 span{
	border-bottom:3px solid #9bc600;
	padding:0 0 8px 0;
}
.home-portfolio{
	padding:1%;
}
.home-portfolio p{
	margin-bottom:10px;
}
.home-portfolio a{
	color:#9bc600;
}
.home-portfolio a:hover{
	color:#333;
}
.view-all{
	width:300px;
	margin:0 auto;
	text-align:center;
	background:url(../images/sep_small.png) center center no-repeat;
}
.view-all a{
	display:inline-block;
	padding:3px 12px;
	background:#7e878f;
	color:#FFF;
}
.view-all a:hover{
	background:#333;
	color:#FFF;
}
/* ========= end =========== */	

/* 
=============================================================================
	Footer Style
=============================================================================
*/

/* 
footer{
	background:url(../images/17.png) repeat #FFF;
	padding:5px 0 0 0; */
	/* color:#333; */
	/* text-shadow:0 1px 0 rgba(255,255,255, 0.7);
	border-top:2px solid #434b52; */
	/*-- original width: inherit; --*/
	/*--
	position: absolute;
	width: 960px;
	: center;
	width: 960px;
	margin: 0 auto;
	border-radius: 15px;
	height: 130px;--*/
	/*background:#575f66;
	
}*/

footer{
	background:url(../images/17.png) repeat #FFF;
	padding:25px 0 0 0;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255, 0.7);
	border-top:2px solid #434b52;
	
	/*-- original width: inherit; --*/
	/*--
	position: absolute;
	width: 960px;
	: center;--*/
	
	/*----- height: 48px;-----*/width: 960px;
	margin: 0 auto;
	border-radius: 15px;
	height: 66px;
	
	
} 




footer a, .copyright a{
	color:#9bc600;
}
footer h3{
	color:#144567;
}
footer a:hover, .copyright a:hover{
	color:#000;
}
.copyright{
	/*-- background:#575f66; --*/
	padding:10px 0;
	color:#FFF;
	text-shadow:none;
	/*-- 
	width: 960px;--*/
	padding: 10px 0 10px 0;
	border-radius: 15px;
	margin: 25px 0 0 0;
	/*-- font-size: 80%; --*/
}

.copyright{
	/*-- background:#575f66; --*/
	padding:10px 0;
	color:#FFF;
	text-shadow:none;
	/*-- 
	width: 960px;--*/
	padding: 10px 0 10px 0;
	border-radius: 15px;
	margin: 25px 0 0 0;
	/*-- font-size: 80%; --*/
}
.powered-bg{
	text-align:right;
}
.footer-contact{
	padding-bottom:10px;
}
.footer-contact span{
	color:#144567;
}
.footer-contact p{
	margin-bottom:0;
	padding-bottom:3px;
}
/* ========= end =========== */	

/* ================ Socail Icons ======================== */
.social-icons{
	padding:0;
}
.social-icons ul li{
	display:inline-block;
	padding-right:5px;
}
.social-icons ul li a{
	width:25px;
	height:25px;
	display:block;
	text-indent:-9999px;
	background:url(../images/social_icons.png) no-repeat;
	-moz-transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
	-webkit-transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
	-o-transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
	transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
}
.social-icons ul li a.twitter{background-position:0 0;}
.social-icons ul li a:hover.twitter{background-position:0 -27px;}

.social-icons ul li a.facebook{background-position:-33px 0;}
.social-icons ul li a:hover.facebook{background-position:-33px -27px;}

.social-icons ul li a.dribble{background-position:-67px 0;}
.social-icons ul li a:hover.dribble{background-position:-67px -27px;}

.social-icons ul li a.digg{background-position:-100px 0;}
.social-icons ul li a:hover.digg{background-position:-100px -27px;}

.social-icons ul li a.vimeo{background-position:-133px 0;}
.social-icons ul li a:hover.vimeo{background-position:-133px -27px;}
/* ========= end =========== */	


/* ================ Twitter ======================== */
.tweet_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
.tweet_list .awesome, .tweet_list .epic { 
	text-transform: uppercase; 
}
.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding:3px 0 3px 25px;
	list-style-type: none;
	background:url(../images/twitter_bird.png) no-repeat 0 8px;
}
.tweet_list .tweet_avatar {
	padding-right: .5em;
	float: left;
}
.tweet_list .tweet_avatar img { 
	vertical-align: middle; 
}
/* ========= end =========== */	


/* ================ Footer Post ======================== */
.footer-post{
	padding:0 0 15px;
}
.post-img{
	float:left;
	width:60px;
}
.post-img img{
	margin-top:5px;
}
.post-txt{
	padding-left:60px;
}
.post-txt span{
	color:#144567;
	font-style:italic;
	font-size:12px;
}
/* ========= end =========== */

.page-head{
	margin:0;
	color:#9bc600;
	font-size:26px;
	font-weight:normal;
}
.bredcrumbs{
	padding:0 15px;
	border-left:3px solid #404951;
	border-right:3px solid #404951;
}
.bredcrumbs h2{
	color:#efefef;
	font-size:14px;
	line-height:18px;
	margin:8px 0;
	padding-bottom:10px;
	border-bottom:3px solid #404951;
}
.bredcrumbs a{
	font-size:13px;
	color:#acb6bf;
	padding:0 7px 0 0;
}
.bredcrumbs a span{
	padding:0 0 0 12px;
	background:url(../images/grey_arrow.png) no-repeat 0 2px;
}
.bredcrumbs a:hover{
	color:#FFF;
}

/* 
=============================================================================
	Back to top button 
=============================================================================
*/
#back-top {
	position: fixed;
	bottom: 0;
	right:0;
	z-index:10000;
}
#back-top a {
	width: 32px;
	height: 32px;
	display: block;
	background:url(../images/top_arrow.png) no-repeat center center #999999;
	border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	-o-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover{
	background-color:#000;
}
/* ========= end =========== */	




/* 
=============================================================================
	Home Portfolio & Blog Slider Style
=============================================================================
*/
.jcarousel-skin-tango .jcarousel-container { /*    border: 1px solid #346F97;*/ }
.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl; }
.jcarousel-skin-tango .jcarousel-container-horizontal { width: 100%; }
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden; }
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:  100%; }
.jcarousel-skin-tango .jcarousel-item { width: 230px; }
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 0; margin-right: 10px; margin-bottom:0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000; }

/* Horizontal Buttons */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -57px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: transparent url(../images/carousel_nav.png) no-repeat top right;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover/*,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus*/ { background-position:-28px -27px; }
.jcarousel-skin-tango .jcarousel-next-horizontal:active { }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; background-position:-28px -54px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
	top: -57px;
	right: 36px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: transparent url(../images/carousel_nav.png) no-repeat ;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { }
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover/*, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus */{ background-position:0 -27px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { }
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position:0 -54px;}
/* ========= end =========== */

/* 
=============================================================================
	Home Page
=============================================================================
*/
.about-team {
	padding:10px 0 0 0;
}
.about-team p{
	margin-bottom:10px;
}
.top_social{
	list-style-type:none;
}
.top_social li {
	float:left;
	margin-left:4px;
}
.top_social li a {
	background:url(../images/social_icons2.png) no-repeat left center;
	width:20px;
	display:block;
	color:#FFF;
	height:20px;
	float:left;
	text-indent:-9999px;
	position:relative;
}
.top_social li.twitter a {
	background-position:0px center;
}
.top_social li.facebook a {
	background-position:-22px center;
}
.top_social li.google_plus a {
	background-position:-45px center;
}
.top_social li.linked_in a {
	background-position:-68px center;
}
.list_carousel {
	width: 360px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	position:relative;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	position:absolute;
	top:-30px;
	right:0;
}
.pager a {
	margin: 0 2px;
	text-decoration: none;
	display:inline-block;
	width:8px;
	height:8px;
	background:#333;
	text-indent:-9999px;
}
.pager a.selected {
	background:#9bc600;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.why-choose-wrap{
	padding-top:7px;
}
.why-chooseleft ul{
	list-style-type:none;
}
.why-chooseleft ul li{
	background:url(../images/arrow_bg.png) no-repeat;
	margin:0 0 10px 0;
	padding:0 0 2px 25px;
}
.about-team h4 span{
	color:#9bc600;
	font-style:italic;
	font-size:15px;
	display:block;
}
#secondary-slider, .our-blog{
	margin-top:20px;
}
.testimonials-wrap {
	padding:0 10px 0 0;
}
.testimonials-wrap p{
	background:url(../images/bg_testimonials.png) repeat;
	padding:15px 15px 10px 15px;
	color:#FFF;
	margin:0;
	text-shadow:0 1px 0 rgba(0,0,0, 0.7)
}
.testimonials-wrap cite{
	font-style:italic;
	font-size:16px;
	color:#9bc600;
	float:right;
	display:inline-block;
	padding:15px 0 0 0;
	background:url(../images/bg_testimonials_arrow.png) no-repeat;
}
/* ========= end =========== */

/* 
=============================================================================
	Contact Page
=============================================================================
*/
form#contact_form {
	margin:0;
}
form#contact_form input[type="text"], form#contact_form textarea {
	border:none;
	background:#1a1c1e;
	box-shadow:0 2px 0 #0b0c0d;
	-moz-box-shadow:0 2px 0 #0b0c0d;
	-webkit-box-shadow:0 2px 0 #0b0c0d;
	-o-box-shadow:0 2px 0 #0b0c0d;
	border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	padding:0 10px;
	font-size:12px;
	color:#888;
	padding:8px 5px;
	width:82%;
}
form#contact_form input[type="text"]{
}
	
form#contact_form textarea {
	height:100px;
}
form#contact_form input[type="submit"] {
	border:none;
	color:#ffffff;
	cursor:pointer;
	padding:5px 10px;
}
form#contact_form .form-row{
	padding:0 0 2% 0;
	position:relative;
}
form#contact_form .form-row.wdh100{
	width:101%;
}

form#contact_form label {
	padding:5px 0 3px 0;
	float:left;
	width:60px;
	cursor:default;
	font-weight:normal;
}
form#contact_form label.error {
	color:#F00;
	font-size:11px;
	padding:2px 0 0 0;
	display:block;
	position:absolute;
	top:2px;
	left:48px;
}
form#newslatter_form label.error {
	color: #FF0000;
	display: inline-block;
	font-size: 11px;
	padding: 2px 0 0;
	position: absolute;
	right: 78px;
	top: 34px;
}
h4.form_thanks {
	color:#FFF;
	padding:5px;
	font-size:15px;
	display:block;
	text-align:center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow:0 0 3px #000;
	-moz-box-shadow:0 0 3px #000;
	-webkit-box-shadow:0 0 3px #000;
	-o-box-shadow:0 0 3px #000;
	background:#CF302D;
	text-transform:capitalize;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}
.get-back{
	position:relative;
	top:6px;
	left:5px;
	font-size:11px;
	color:#f0f0f0;
	font-style:italic;
}
.required-field{
	text-align:right;
	position:relative;
	top:14px;
	right:7px;
	font-size:11px;
	color:#f0f0f0;
	font-style:italic;
}
.contact-map{
	height:310px;
	background:#cacdd2;
}
/* ========= end =========== */


/* 
=============================================================================
	Portfolio Page
=============================================================================
*/
.portfolio-wrap hr, .blog-post hr, .typography hr {
	border: dotted #3c5466; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0;
	box-shadow:0 1px 0px #1f2f3d;
	-webkit-box-shadow:0 1px 0px #1f2f3d;
	-moz-box-shadow:0 1px 0px #1f2f3d;
	-o-box-shadow:0 1px 0px #1f2f3d;
}
.hover-img, .hover-img1, .accordion{
    position: relative;
	margin-bottom:8px;
}
.hover-img img, .home-portfolio .hover-img1 img, .post-img img, .imgborder img, .blog-post img{
	box-shadow:0 1px 3px rgba(100, 100, 100, 0.8);
	-moz-box-shadow:0 1px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow:0 1px 3px rgba(100, 100, 100, 0.8);
	-o-box-shadow:0 1px 3px rgba(100, 100, 100, 0.8);	
}
a.read-more{
	border-radius:3px;
	padding:6px 10px;
	background:#999999;
	font-size:13px;
	display:inline-block;
	color:#FFF;
	margin-bottom:5px;
	text-shadow:none;
}
a:hover.read-more{
	color:#FFF;
	background:#9bc600;
}
.hover-img a {
    background: url(../images/zoom_icon.png) no-repeat scroll 50% 50%;
    display: block;
}
/*.hover-img a.zoom {
    background: url(../images/zoom_icon.png) no-repeat scroll 50% 50%;
    margin-left: -37px;
}
.hover-img a {
    margin-left: -3px;
}
.hover-img a {
    background: url(../images/detail_icon.png) no-repeat scroll 50% 50%;
    display: inline-block;
    height: 40px;
    left: 50%;
    margin-top: -20px;
    opacity: 0.9;
    position: absolute;
    top: -30px;
    width: 40px;
    z-index: 10;
}
.hover-img i {
    background: none repeat scroll 0 0 #000;
    display: block;
    font-style: normal;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}*/

.pagination{
	padding:0 0 15px 0;
	text-align:center;
}
.pagination a{
	display:inline-block;
	padding:3px 8px;
	color:#FFF;
	background-color:#144567;
	margin:0 2px;
	box-shadow:0 1px 0px #1e2021;
	-moz-box-shadow:0 1px 0px #1e2021;
	-webkit-box-shadow:0 1px 0px #1e2021;
	-o-box-shadow:0 1px 0px #1e2021;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}
.pagination a:hover{
	background-color:#9bc600;
}
ul.cont-txt{
	padding:0;
	list-style-type:none;
}
ul.cont-txt li{
	padding:5px 0 5px 25px;
	background:url(../images/contact_icons.png) no-repeat;
	margin:0;
}
ul.cont-txt li.email{
	background-position:0 -54px;
}
ul.cont-txt li.link-url{
	background-position:0 -85px;
}
/* ========= end =========== */


/* 
=============================================================================
	Blog Page
=============================================================================
*/
.blog-date{
	background:#999;
	text-align:center;
	padding:10px 15px;
	float:left;
	margin-right:15px;
}
.blog-date a{
	font-size:24px;
	line-height:10px;
	color:#FFF;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.2)
}
.blog-date a span{
	display:block;
	font-size:14px;
}
.post-text{
	padding:0 0 10px 0;
}
.blog-txt{
	border-width:1px 0;
	border-style:solid;
	border-color:#999;
	padding:20px 10px;
	margin-bottom:15px;
}
.auth-cat{
	padding:15px 0 0 55px;
	margin:15px 0 0 0;
}
/* ========= end =========== */


/* 
=============================================================================
	Sidebar Style
=============================================================================
*/

.siderbar-wrap{
	margin:0px 0 15px 0;
	padding:0;
	background:url(../images/sep_small.png) no-repeat bottom center;
}
.siderbar-wrap h2{
	color:#ACB6BF;
	margin-top:0;
	font-size:20px;
	text-transform:capitalize;
}
.sidebar-post{
	padding:0;
	list-style-type:none;
	margin:0;
}
.sidebar-post li{
	padding:0 0 10px 0;
	margin-bottom:10px;
	border: dotted #3c5466; 
	border-width: 0 0 1px 0;
}
.sidebar-post li:last-child{
	border-bottom:none;
}
.imgborder{
	width:65px;
	float:left;
	margin-right:8px;
}
.imgborder img{
	width:100%;
	border:1px solid #e5e8ee;
}
.recent_txt{
	padding:0 0 0 82px;
}
.recent_txt p{
	margin:0;
	background:url(../images/calendar_icon.png) no-repeat 0 8px;
	padding:5px 0 5px 18px;
	font-size:12px;
	color:#ACB6BF;
	font-style:italic;
}
ul.sidebar-category{
	padding:0 0 10px 0;
}
.sidebar-category li{
	padding:0 0 5px 0;
	margin:0;
}
.sidebar-category li a{
	color:#efefef;
	background:url(../images/dot_bg.png) no-repeat left 2px;
	padding:0 0 0 20px;
}
.sidebar-category li a:hover{
	color:#9bc600;
}
/* ========= end =========== */

/* 
=============================================================================
	Blog Post Style
=============================================================================
*/

.comment-wrap{
	padding:0 0 15px 0;	
}
.comment-wrap h4{
	border-bottom:1px solid #C2C6CC;
	padding-bottom:8px;
}
.comment-box, .post-comment{
	padding:10px 0 15px 0;
}
.comment-thumb{
	width:50px;
	float:left;
}
.comment-txt{
	margin-left:75px;
	position:relative;
	background:#1a1c1e;
	border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	padding:8px 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}
.comment-txt h4{
	color:#FFF;
}
.arrow-right{
	position:absolute;
	top:10px;
	left:-11px;
}
.comment-txt .post-date{
	font-size:12px;
	color:#144567;
	font-style:italic;
}
.comment-txt .reply-btn{
	float:right;
}
.comment-txt .reply-btn a{
	background:url(../images/reply_bg.png) no-repeat 0 2px;
	padding:0px 0 0px 15px;
	font-size:12px;
	color:#9bc600;
}
.comment-txt .reply-btn a:hover{
	color:#FFF;
}
.comment-reply {
    margin-left: 77px;
}
.add-icon{
	background:url(../images/comment_bg.png) no-repeat 0 3px;
	padding:0 0 5px 30px;
}

/* ========= end =========== */


/* 
=============================================================================
	Misc Style
=============================================================================
*/

.about-team img, .our-office img, .contact-map, .home-portfolio img, img.float-left, img.float-right, img.shadow-img{
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
}
.flex-caption h2{
	color:#FFF;
	font-size:30px;
}
.flex-caption {
	width: 50%; left:25%;
}
nav select {
  display: none;
}
/* ========= end =========== */

/* 
=============================================================================
	Features Pages
=============================================================================
*/
.side-links ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.side-links ul li{
	padding:3px 0 8px 0;
	margin:0;
}
.side-links ul li a{
	display:block;
	color:#FFF;
	padding:5px 20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	background:url(../images/menu_arrow.png) #404951 no-repeat 10px center;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.side-links ul li a:hover{
	background:url(../images/menu_arrow.png) #9bc600 no-repeat 10px center;
	color:#FFF;
}

/*	Buttons
------------------------------------------------*/
a.button {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-size:14px;
	font-weight:normal;
	padding: 3px 15px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 10px 10px 0;
	}
	
a.button:hover {
	-moz-box-shadow: 0px 1px 0px #333; 
	-webkit-box-shadow: 0px 1p 0px #333; 
	box-shadow: 0px 1px 0px #333;
	}
	
		
a.white {
	color: #999999;
	text-shadow: 1px 1px 0px #ffffff;
	border: 1px solid #cccccc;
	
	background: #f0f0f0;
	background-image: linear-gradient(bottom, rgb(240,240,240) 12%, rgb(250,250,250) 100%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,240) 12%, rgb(250,250,250) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 12%, rgb(250,250,250) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 12%, rgb(250,250,250) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 12%, rgb(250,250,250) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(240,240,240)),
		color-stop(1, rgb(250,250,250))
	);

	}
a.white:hover { border: 1px solid #999999; color: #333333; background:#f0f0f0;  }

a.blue {
	color: #318588;
	text-shadow: 1px 1px 0px #ace9ec;
	border: 1px solid #5bc0c7;
	
	background: #6ccbd6;
	background-image: linear-gradient(bottom, rgb(108,203,214) 0%, rgb(160,218,221) 100%);
	background-image: -o-linear-gradient(bottom, rgb(108,203,214) 0%, rgb(160,218,221) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(108,203,214) 0%, rgb(160,218,221) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(108,203,214) 0%, rgb(160,218,221) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(108,203,214) 0%, rgb(160,218,221) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(108,203,214)),
		color-stop(1, rgb(160,218,221))
	);
	}
a.blue:hover { border: 1px solid #469499; color: #194b51; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#6ccbd6;  }

a.yellow {
	color: #ae8c2d;
	text-shadow: 1px 1px 0px #fce8af;
	border: 1px solid #fcd14b;
	
	background: #fcd96c;
	background-image: linear-gradient(bottom, rgb(252,217,108) 0%, rgb(252,228,154) 100%);
	background-image: -o-linear-gradient(bottom, rgb(252,217,108) 0%, rgb(252,228,154) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(252,217,108) 0%, rgb(252,228,154) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(252,217,108) 0%, rgb(252,228,154) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(252,217,108) 0%, rgb(252,228,154) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(252,217,108)),
		color-stop(1, rgb(252,228,154))
	);
	}
a.yellow:hover { border: 1px solid #ba972a; color: #7e6621; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#fcd96c;  }

a.green {
	color: #768c34;
	text-shadow: 1px 1px 0px #e0eebc;
	border: 1px solid #aecd5b;
	
	background: #c2e16d;
	background-image: linear-gradient(bottom, rgb(194,225,109) 0%, rgb(206,225,154) 100%);
	background-image: -o-linear-gradient(bottom, rgb(194,225,109) 0%, rgb(206,225,154) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(194,225,109) 0%, rgb(206,225,154) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(194,225,109) 0%, rgb(206,225,154) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(194,225,109) 0%, rgb(206,225,154) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(194,225,109)),
		color-stop(1, rgb(206,225,154))
	);
	}
a.green:hover { border: 1px solid #738b32; color: #56691c; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#c2e16d;  }

a.pink {
	color: #e0556e;
	text-shadow: 1px 1px 0px #e9b6bf;
	border: 1px solid #f2798d;
	
	background: #f28699;

	background-image: linear-gradient(bottom, rgb(242,134,153) 0%, rgb(242,162,176) 100%);
	background-image: -o-linear-gradient(bottom, rgb(242,134,153) 0%, rgb(242,162,176) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(242,134,153) 0%, rgb(242,162,176) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,134,153) 0%, rgb(242,162,176) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(242,134,153) 0%, rgb(242,162,176) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(242,134,153)),
		color-stop(1, rgb(242,162,176))
	);
	}
a.pink:hover { border: 1px solid #d53652; color: #8e2437; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#f28699;  }

a.purple {
	color: #d46fc9;
	text-shadow: 1px 1px 0px #efe2ee;
	border: 1px solid #e8a0e0;
	
	background: #e8b0e2;
	background-image: linear-gradient(bottom, rgb(232,176,226) 0%, rgb(232,211,230) 100%);
	background-image: -o-linear-gradient(bottom, rgb(232,176,226) 0%, rgb(232,211,230) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(232,176,226) 0%, rgb(232,211,230) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(232,176,226) 0%, rgb(232,211,230) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(232,176,226) 0%, rgb(232,211,230) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(232,176,226)),
		color-stop(1, rgb(232,211,230))
	);
	}
a.purple:hover { border: 1px solid #c359b7; color: #843c7c; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#d46fc9; }


a.grey {
	color: #999999;
	text-shadow: 1px 1px 0px #ebebeb;
	border: 1px solid #adadad;
	
	background: #bfbfbf;
	background-image: linear-gradient(bottom, rgb(191,191,191) 0%, rgb(217,217,217) 100%);
	background-image: -o-linear-gradient(bottom, rgb(191,191,191) 0%, rgb(217,217,217) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(191,191,191) 0%, rgb(217,217,217) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(191,191,191) 0%, rgb(217,217,217) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(191,191,191) 0%, rgb(217,217,217) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(191,191,191)),
		color-stop(1, rgb(217,217,217))
	);
	}
a.grey:hover { border: 1px solid #737373; color: #595959; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#bfbfbf; }

a.orange {
	color: #e08457;
	text-shadow: 1px 1px 0px #fde5d9;
	border: 1px solid #fda072;
	
	background: #fdb897;
	background-image: linear-gradient(bottom, rgb(253,184,151) 0%, rgb(253,203,179) 100%);
	background-image: -o-linear-gradient(bottom, rgb(253,184,151) 0%, rgb(253,203,179) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(253,184,151) 0%, rgb(253,203,179) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(253,184,151) 0%, rgb(253,203,179) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(253,184,151) 0%, rgb(253,203,179) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(253,184,151)),
		color-stop(1, rgb(253,203,179))
	);
	}
a.orange:hover { border: 1px solid #de7744; color: #bd5223; -moz-box-shadow: 0px 1px 0px #333; -webkit-box-shadow: 0px 1p 0px #333; box-shadow: 0px 1px 0px #333; background:#fdb897; }


.content-wrapper .button:hover,
.content-wrapper button:hover,
.content-wrapper input[type="submit"]:hover,
.content-wrapper input[type="reset"]:hover,
.content-wrapper input[type="button"]:hover {background: #none;}
		
		
/* ----- Features Tables ----- */

.feature-table {
	position:relative;
	margin:0 0 20px 0;
	width:100%;
	border:1px solid #b7b6b6;
	border-collapse:inherit;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#fff;
	box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-o-box-shadow:0 0 2px #000;
}
table.feature-table thead tr {
	position: relative;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 3px 0 #ededed;
	-moz-box-shadow:0 3px 0 #ededed;
	box-shadow:0 3px 0 #ededed;
} 
.feature-table thead tr th {	 
	position:relative;
	margin:0;
	padding: .45em .9em .45em .7em;
	border-bottom: 1px solid #b7b6b6;
	color:#000;
	text-align:left;
	font-weight:100;
	font-size: 15px;
	background: #f0f0f0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #fff,  #f0f0f0);
  	background: -o-linear-gradient(rgb(255,255,255),rgb(240,240,240));
}
table.feature-table thead tr th:first-child {border-left: none;}
table.feature-table thead tr th {border-left:1px solid #b7b6b6;} 

table.feature-table thead tr th.leftR {
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
} 

table.feature-table thead tr th.rightR {
	-moz-border-radius:0 2px 2px 0;
	-webkit-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
} 

table.feature-table tbody td {
	margin:0;
	padding: .45em .9em;
	border-top:1px solid #dedcdc;
	border-left:1px solid #dedcdc;
	color:#787878;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.54);
}

table.feature-table tbody tr td:first-child {border-left: none;}
table.feature-table tbody tr:first-child td {border-top:none;} 
table.feature-table tbody tr.odd td {background-color: #f7f7f7;} 

/* --- Table Light Gray --- */

table.feature-table.light-gray thead tr th {
	background: #a4a4a4;
	background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#929292));
	background: -moz-linear-gradient(top,  #a4a4a4,  #929292);
  	background: -o-linear-gradient(rgb(164,164,164),rgb(146,146,146));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4a4a4', endColorstr='#929292');
	color: #fff;
	border-left: 1px solid #737373;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

table.feature-table.light-gray thead tr th.rightR { border-right: 1px solid #737373;}
table.feature-table.light-gray thead tr th.rightL { border-left: 1px solid #737373;}

/* --- Table Dark Grey --- */

table.feature-table.dark-gray thead tr th {
	background: #2f2f2f;
	background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#1b1b1b));
	background: -moz-linear-gradient(top,  #2f2f2f,  #1b1b1b);
  	background: -o-linear-gradient(rgb(47,47,47),rgb(27,27,27));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#1b1b1b');
	color: #fff;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

table.feature-table.dark-gray thead tr th.rightR { border-right: 1px solid #000;}
table.feature-table.dark-gray thead tr th.rightL { border-left: 1px solid #000;}

/* --- Table Light Green --- */

table.feature-table.light-green thead tr th {
	background: #5d9f01;
	background: -webkit-gradient(linear, left top, left bottom, from(#84b602), to(#5d9f01));
	background: -moz-linear-gradient(top,  #84b602,  #5d9f01);
  	background: -o-linear-gradient(rgb(132,182,2),rgb(93,159,1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84b602', endColorstr='#5d9f01');
	color: #fff;
	border-left: 1px solid #468701;
	border-top: 1px solid #468701;
	border-bottom: 1px solid #468701;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

table.feature-table.light-green thead tr th.rightR { 
	border-right: 1px solid #468701;
}

table.feature-table.light-green thead tr th.rightL { 
	border-left: 1px solid #468701;
}

/* --- Table Light Orange --- */

table.feature-table.light-orange thead tr th {
	background: #ff8f07;
	background: -webkit-gradient(linear, left top, left bottom, from(#fabd06), to(#ff8f07));
	background: -moz-linear-gradient(top,  #fabd06,  #ff8f07);
  	background: -o-linear-gradient(rgb(250,189,6),rgb(255,143,7));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabd06', endColorstr='#ff8f07');
	color: #fff;
	border-left: 1px solid #de6e38;
	border-top: 1px solid #de6e38;
	border-bottom: 1px solid #de6e38;
	text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

table.feature-table.light-orange thead tr th.rightR { border-right: 1px solid #de6e38;}
table.feature-table.light-orange thead tr th.rightL { border-left: 1px solid #de6e38;}

/* --- Custom List Style --- */
ul.custom-list {
    list-style: none outside none;
    margin-bottom: 15px;
}
ul.custom-list li, ol.custom-list li {
    margin-bottom: 5px;
}
.check li {
    background: url(../images/check.png) no-repeat 0 7px;
    padding-left: 18px;
}
.exclamation li {
    background: url(../images/exclamation.png) no-repeat 0 6px;
    padding-left: 15px;
}
.arrows li {
    background: url(../images/arrow.png) no-repeat 0 6px;
    padding-left: 15px;
}

.square li {
    list-style: square inside none;
}
.square li {
    list-style: square inside none;
}
ul, ol{
	padding:0;
	margin:0;
}
ol li {
    list-style: decimal inside none;
	padding:0;
}


/* --- Images And Dropcaps Style --- */
.dropcap1 {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
	background:#ff8a00;
    float: left;
    font-size: 36px;
    margin: 4px 10px 2px 0;
    padding: 12px 6px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.dropcap2 {
    float: left;
    font-size: 36px;
    line-height: 26px;
    padding-right: 10px;
    padding-top: 8px;
}
.dropcap3 {
    float: left;
    font-size: 36px;
    font-style: italic;
    line-height: 30px;
    padding-right: 10px;
    padding-top: 8px;
}

img.float-left {
    float: left;
    margin-bottom: 1.5em;
    margin-right: 1.8em;
    margin-top: 0.5em;
}
img.float-right {
    float: right;
    margin-bottom: 1.5em;
    margin-left: 1.8em;
    margin-top: 0.5em;
}

/* tabs
/*-------------------------------------------*/
.tabs {
  margin: 22px 0 24px;
}
.tabs-control {
  list-style: none;
  margin: 0;
  border-bottom:1px solid #9bc600;
}
.tabs-control li {
  line-height: 38px;
  display:inline-block;
  margin: 0;
}
.tabs-control li a {
  border: 0;
  display: block;
  padding: 0 10px;
  color: #efefef;
  font-weight:bold;
}
.tabs-control li a:hover{
	color:#9bc600;
}
.tabs-control li a.active, .tabs-control li a.active:hover {
  background: #9bc600;
  position: relative;
  text-shadow:0 1px 0 rgba(0,0,0, 0.5);
  z-index: 1;
  color: #FFF;
  border-radius:3px 3px 0 0;
  -moz-border-radius:3px 3px 0 0;
  -webkit-border-radius:3px 3px 0 0;
  -o-border-radius:3px 3px 0 0;
}
.tabs-control li a.active span, .tabs-control li a.active:hover span {
  border: 0;
}
.tabs-tabs {
  clear: left;
  margin: 0;
  position: relative;
}
.tabs-tabs .tabs-tab {
  display: none;
  padding:15px 0;
}
.tabs-tabs .tabs-tab P{
	margin-bottom:0;
}
.tabs-tabs .tabs-tab:after {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
}
.tabs-tabs .tabs-tab:first-child {
  display: block;
}

/* accordion
/*-------------------------------------------*/

.toggle ,
.accordion-panel{
	margin-bottom: -1px;
	-moz-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-webkit-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-o-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-ms-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	
	
}
.toggle.active ,
.toggle:hover ,
.accordion-panel.active ,
.accordion-panel:hover{

}

.toggle-title ,
.accordion-panel-title{
	cursor: pointer;
	padding:5px 10px;
	margin-bottom:8px;
}

.toggle-title .indicator ,
.accordion-panel-title .indicator{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -2px;
	width: 15px;
	height: 15px;
	background: url(../images/toggle.png) no-repeat 0 0 #404951;
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	border-radius: 999px;
	-moz-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-webkit-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-o-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-ms-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
}

.toggle.active .toggle-title ,
.toggle-title:hover ,
.accordion-panel.active .accordion-panel-title ,
.accordion-panel-title:hover{
	color: #FFF;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.7);
	background:#404951;
	border-radius:3px;
}

.toggle.active .indicator ,
.toggle:hover .indicator ,
.accordion-panel.active .indicator ,
.accordion-panel-title:hover .indicator{
	background-color: #9bc600;
}
.toggle.active .toggle-title .indicator ,
.accordion-panel.active .accordion-panel-title .indicator{
	background-position: 0 -15px;
}

.toggle-body ,
.accordion-panel-body{
	padding: 10px;
	border:1px solid #999;
	border-radius:3px;
	margin-bottom:8px;
}

/* ========= end =========== */

/* #Page Styles
================================================== */


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
			.flex-caption {width: 50%; left:25%; }
			
			.flex-caption p{font-size:16px;}	
			
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
			.flex-caption {width: 50%; left:25%; }
			.flex-caption p{font-size:14px;}
			.page-content{width:768px;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/*body{background-color:purple;}*/
		#logo{text-align:center; padding-bottom:10px;}
		nav select { display: block; margin:0 auto 25px auto; width:100%; padding:5px; font-weight:normal;}
		nav{text-align:center; float:none;}
		nav ul{display:none;}
		.flex-caption{width:96%; left:0; }
		.flex-caption h2{font-size:16px; line-height:15px;}
		.flex-caption p{font-size:12px; line-height:15px;}
		
		.intro-txt h1{font-size:24px;}
		.intro-txt p{font-size:14px;}
		
		.service-wrap{margin-top:15px;}
		.service-wrap.first{margin-top:0;}
		
		.powered-bg, .copyright .container{text-align:center;}
		.page-content{width:320px;}
		
		
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		/*body{background-color:#F00;}*/
		.page-content{width:440px;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		nav select {display: block;}
		nav ul{display:none;}
		.flex-caption{width:96%; left:0; }
		.flex-caption h2{font-size:16px; line-height:15px;}
		.flex-caption p{font-size:12px; line-height:15px;}	
		
		form#contact_form input[type="text"], form#contact_form textarea {
			width:75%;
		}
	}
	
/* #moji dodaci za toggle
=================================================== */
.32 {
  width:32%; float:left; margin:5px;
}

.toggle-1 { width:60%; float:left; margin:5px; padding-left:17%; }

.network-solutions { 
  width: 700px;
  color: red;
  position: absolute;
  float: right; }
/* END #moji dodaci za toggle -1
=================================================== */	
